#home_banner
{
    background: url('/slider/slider-agency1.jpg') no-repeat 0 50%;
    height: 800px;
}
.home_title {
    background: none;
    margin-top: 200px;
}
@media (max-width: 860px) {
    .hl2 {
        display: none !important;
    }
    .home_title {
        margin-top: 150px;
    }
    #home_banner
    {
        height: 600px;
    }
}
@media (max-width: 700px) {
    .hl3 {
        display: none !important;
    }
    .home_title {
        margin-top: 100px;
    }
    #home_banner
    {
        height: 500px;
    }
}    
@media (max-width: 520px) {
    .hl1 {
        display: none !important;
    }
    .home_title {
        margin-top: 50px;
    }
    #home_banner
    {
        height: 420px;
    }
}    
@media (max-width: 350px) {
    .rfp {
        display: none !important;
    }
    #home_banner
    {
        height: 420px;
    }
}
#text {
    padding-bottom: 230px;    
}

#footer {
    min-height: 230px;
    margin: -230px auto 0;
} 